body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  width: 100%;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  grid-column: span 2;
}

.main-content {
  background-color: #f2f2f2;
  padding: 20px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.lmap {
  height: calc(100% - 400px);
  width: 100%;
  background-color: #ccc;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px;
  height: 380px;
}

.chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
